.git
.gitignore
.gitattributes

.env
.env.*
!.env.example

node_modules
vendor

.phpunit.result.cache

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

tests

tree.txt
*.xlsx

docs
.codex

Dockerfile*
docker-compose*
